node_modules/
dist/
local-packages/**/dist/
local-packages/**/node_modules/
coverage/
.env
.env.*
.turbo/
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnp*
.DS_Store
.husky/_
prisma/*.db
prisma/*.sqlite
.vercel
.env*.local
services/profile/generated/
services/identity/generated/
services/moderation/generated/

.vercel
.env*.local

# Local Netlify folder
.netlify
