receivers:
  otlp:
    protocols:
      grpc: {}
      http: {}

exporters:
  logging:
    loglevel: info

service:
  telemetry:
    logs:
      level: 'info'
  pipelines:
    traces:
      receivers: [otlp]
      processors: []
      exporters: [logging]
    metrics:
      receivers: [otlp]
      processors: []
      exporters: [logging]
    logs:
      receivers: [otlp]
      processors: []
      exporters: [logging]
